body {
    max-width: 550px;
    margin: 0 auto;
}

section p:first-child {
    color: #F00;
    width: 300px;
    margin-bottom: 0px;
}

section span:nth-child(2) {
    color: #00F;
}

h2 {
    display: inline-block;
}

h2::after {
    content: '';
    display: block;
    width: 100%;
    height: 5px;
    background: #000;
}

#p-1::first-line {
    color: #F00;
}

.s-1 {
    color: #00F;
}

span[title] {
    color: #40a200;
    font-weight: bold;
}

.inline-block {
    display: inline-block;
    width: 120px;
    background: #ccc;
    margin: 20px 20px;
    text-align: center;
    line-height: 50px;
    font-size: 16px;
}


.margin {
    margin: 35px;
}

ul {
    padding: 5px 0px;
}

li {
   display: inline-block;
}

a {
    text-decoration: none;
    border: 1px solid #333;
    padding: 15px 20px;
    color: #000;
}

a::before {
    content: "\2713";
    font-weight: bold;
}

a:hover {
    color: #FFF;
    background: #000;
}
